.button
{
    margin: 10px;
    padding:10px;
    background-color: rgb(6, 193, 255);
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.158);
    border: none;
}

.button:hover{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.158);
}

.button:active{
box-shadow:inset 0px 0px 5px rgba(0, 0, 0, 0.158);
}

.remove
{
    background-color: rgb(255, 6, 6);
    width: 100px;
}

.edit{

    background-color: rgb(0, 255, 38);
    width: 100px;

}