.App {
  text-align: center;
}

.submit
{
  padding: 10px;
  width: 100px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mode-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}

.modes
{
  margin: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  background-color: #7efc54f4;
  color: black;
  border-radius: 30px;
  font-weight: bold;
  border: none;
  box-shadow: 3px 3px 10px rgb(142, 142, 142);
}

.modes:hover{
  box-shadow: none;
}

.modes:active{
  box-shadow: inset 0px 0px 10px rgb(142, 142, 142);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
